@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:400,400italic,700|Halant:300,400,500|Over+the+Rainbow)
;

@import url("font-awesome.css");
html, body {
  margin: 0;
  padding: 0;
}

body {
  align: center;
  background-color: rgb(248, 249, 250);
  font-family:"Halant", serif;
  font-size: 16px;
  color:#444;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }
select, option { color:black; }
.hide, .print-logo, .close-button{ display:none; }
.left{ float:left; }
.right{ float:right; }
.clear{ clear:both; height:1px; font-size:1px; line-height:1px; }
a img{ border:none; }


.highbar {
  height:5px;
  background: #006652; /*emerald*/
}

/*-----------------------------------------------------------------------------------------------
  Header
-----------------------------------------------------------------------------------------------*/
#header{
  z-index: 999;
  width:100%;
}

#header .inside{
  width: 600px;
  padding-top: 2.5em;
}


#header h2 a {
  text-decoration:none;
  color: #1A9485;
}

#header p{
  padding:1em 0;
  margin:0;
  line-height:1em;
}

.top-menu {
  background: #006652; /*emerald*/
  background: #617981; /*charcoal*/
  background: #96838E; /*pink*/
  background: #FFF;
  padding: 5px;
  text-align: center;
}
.menuNav a{
  color: #96838E;
  text-decoration: none;
  font-family: 'Roboto Condensed', 'Roboto';
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px;
}

.name  {
  display: inline-block;
  width: calc(50% - 5px);
}
.name h2{
  margin-bottom:10px;
}
.pageslinks{
  display:inline-block;
  width:50%;
  text-align:right;
}

.pageslinks .active {
  color: #000;
  border-bottom: 4px solid rgba(136, 136, 152, 0.4);

}
#header .box{
  padding-top: 2.5em;
  margin: 0 auto;
  width: 960px;
  padding-left: 15px;
  padding-right:15px;
}

/*-----------------------------------------------------------------------------------------------
	  Body
-----------------------------------------------------------------------------------------------*/

.container-gallery {
  background: #fff;
  width: 960px;
  margin: 0 auto;
  color: #606060;
}

.container-gallery .inside,
.container-gallery > header {
  margin: 0 auto;
  padding: 1.875em 3.75em;
}

.container-gallery .sidebar{
  float: right;
  width: 200px;
  border-left: 1px dotted #96838E;
  padding: 2.5em;
  padding-top: 1em;
  margin: 2.1em;
  text-align: center;
  min-height: 600px;
}

.container-gallery > header > span span:after {
  width: 30px;
  height: 30px;
  left: -12px;
  font-size: 50%;
  top: -8px;
  font-size: 75%;
  position: relative;
}


.container-gallery a {
  color: #955251;
  text-decoration: none;
}

.feature_title p {
    color: #888898;
    font-family: 'Over the Rainbow';
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
}


/*-----------------------------------------------------------------------------------------------
	  Foooter
-----------------------------------------------------------------------------------------------*/

#footer{
  clear: both;
  color: #939393;
  padding: 2em 0 3em 0;
  bottom: 0;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
#footer .inside{
  padding: 1em 0;
  width: calc(100% - 30px);
  max-width: 960px;
  margin: 0 auto;
}
#footer .inside a{
  text-decoration: none;
  color: #96838E; /*pink*/
}



#footer p{
  margin:0;
  font-size:0.95em;
}

#footer p.copyright{ float:left; }
#footer p.attributes{ float:right; }
#footer p.attributes a{
  padding:0 0 0 1em;
  text-decoration:none;
  color:#525252;
}
#footer p.attributes a:hover{
  color:#FFF;
}

/*component*/

.grid-wrap {
    max-width: calc(100% - 7.75em);
    margin: 0 auto;
    padding: 0;
}

a.sourceLine { display: inline-block; line-height: 1.25; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1.2em; position: absolute; }
.source.SourceCode { overflow: visible; }
.sourceCode.source.SourceCode { white-space: pre; position: relative; }
div.source.SourceCode { margin: 1em 0; }
pre.source.SourceCode { margin: 0; }
@media screen {
div.source.SourceCode { overflow: auto; }
}
@media print {
.sourceCode.source.SourceCode { white-space: pre-wrap; }
a.sourceLine { text-indent: -1em; padding-left: 1em; }
}
pre.numberSource a.sourceLine
  { position: relative; }
pre.numberSource a.sourceLine:empty
  { position: absolute; }
pre.numberSource a.sourceLine::before
  { content: attr(data-line-number);
    position: absolute; left: -5em; text-align: right; vertical-align: baseline;
    border: none; pointer-events: all;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    background-color: #3b4252;
    color: #3b4252;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #3b4252;  padding-left: 4px; }
div.source.SourceCode
  { color: #eceff4; background-color: #3b4252; }
@media screen {
a.sourceLine::before { text-decoration: underline; }
}
.sourceCode span. { color: #eceff4; } /* Normal */
.sourceCode span.an { color: #d08770; } /* Annotation */
.sourceCode span.at { color: #8fbcbb; } /* Attribute */
.sourceCode span.bn { color: #b48ead; } /* BaseN */
.sourceCode span.bu { color: #81a1c1; } /* BuiltIn */
.sourceCode span.cf { color: #81a1c1; font-weight: bold; } /* ControlFlow */
.sourceCode span.ch { color: #a3be8c; } /* Char */
.sourceCode span.cn { color: #d8dee9; font-weight: bold; } /* Constant */
.sourceCode span.co { color: #d8dee9; } /* Comment */
.sourceCode span.cv { color: #d8dee9; } /* CommentVar */
.sourceCode span.do { color: #d08770; } /* Documentation */
.sourceCode span.dt { color: #b48ead; } /* DataType */
.sourceCode span.dv { color: #b48ead; } /* DecVal */
.sourceCode span.fl { color: #b48ead; } /* Float */
.sourceCode span.fu { color: #88c0d0; } /* Function */
.sourceCode span.im { color: #81a1c1; font-weight: bold; } /* Import */
.sourceCode span.kw { color: #81a1c1; } /* Keyword */
.sourceCode span.op { color: #81a1c1; } /* Operator */
.sourceCode span.ot { color: #d8dee9; } /* Other */
.sourceCode span.pp { color: #5e81ac; font-weight: bold; } /* Preprocessor */
.sourceCode span.sc { color: #a3be8c; } /* SpecialChar */
.sourceCode span.ss { color: #ebcb8b; } /* SpecialString */
.sourceCode span.st { color: #a3be8c; } /* String */
.sourceCode span.va { color: #d8dee9; } /* Variable */
.sourceCode span.vs { color: #ebcb8b; } /* VerbatimString */
